# Supabase Postgres (active)
DB_URL=postgresql://postgres:YOURPASSWORD@db.eoaqcmjleyfqosbqxsqe.supabase.co:5432/postgres?sslmode=require

# Local Docker Postgres (quick fallback)
# DB_URL=postgres://failsafe:failsafe@localhost:5432/failsafe?sslmode=disable

DB_HOST=db.eoaqcmjleyfqosbqxsqe.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=YOURPASSWORD
DB_NAME=postgres
DB_SSLMODE=require
CONFIG_PARAM_1=C:\Users\Lenovo\AppData\Local\Android\Sdk\platform-tools\adb.exe
CONFIG_PARAM_2=C:\Users\Lenovo\AppData\Local\Android\Sdk\emulator\emulator.exe
CONFIG_PARAM_3=D:\gdg-mumbai-ai-hack-cyber\code\build\app\outputs\flutter-apk\app-release.apk
CONFIG_PARAM_4=com.example.code
CONFIG_PARAM_5=.MainActivity